<div style="height:{{viewportHeight}}px;overflow:scroll;position:relative" id="viewport">
  <div id="above-wrapper" style="height:{{aboveWrapperHeight}}px;background:red;"></div>
  <div style="height:{{wrapperHeight}}px;background:blue" id="container">
    <p id="above-sticky-item" style='margin: 0; height: {{aboveStickyItemHeight}}px; color: white;'>
      Here is some text above the sticky item.
    </p>
    {{#sticky-item wrapper='#container' viewport='#viewport'}}
    <div style="height:{{stickyItemHeight}}px;background:cyan;"></div>
    {{/sticky-item}}
    <p id="below-sticky-item" style='margin:0; height: {{belowStickyItemHeight}}px; color: white;'>
      Here is some text below the sticky item.
    </p>
  </div>
  <div style="height:700px;background:green;"></div>
</div>
